#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #15148b;
  font-size: 36px;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  background: #edf2f7;
}

main section.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

main .row section {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

main .row section .container {
  border-right: 3px solid #d4dfea;
  height: 300px;
  padding: 20px;
  overflow-y: scroll;
}

main section h2 {
  color: #15148b;
}

.card {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.card .delete-btn {
  background: #ef5c5c;
  border: 1px solid red;
  color: #fff;
  outline: 0;
  cursor: pointer;
}

form.input-form {
  padding: 25px 20px 5px;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  background: #e8e8e8;
}
form.input-form * {
  margin: 0 0 20px 20px;
}

form.input-form input,
select {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form .button {
  padding: 10px;
  color: #fff;
  background: #00b882;
  outline: 0;
  border-radius: 3px;
  border: 1px solid #00b882;
  min-width: 150px;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  background: red;
  padding: 10px;
  top: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.card .edit-btn {
  background: #4581d0;
  border: 1px solid #4581d0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  margin: 0 10px;
}
